<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="../images/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <script type="text/javascript" src="../js/custom.js"></script>
	<title>Snowmonkey Ramen</title>
</head>
<body>
<!-- footer -->
<!-- source: https://codestitch.app/app/dashboard/stitches/269 -->
<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-269">
    <div class="cs-container">
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Follow us on Instagram</span>
            </li>
            <li class="cs-nav-li">
                <img src="../images/QRCode.png" class="cs-QRcode">
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" target="_blank" href="https://www.instagram.com/snowmonkeyramen/related_profiles/">@snowmonkeyramen</a>
            </li>
        </ul>
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="../images/icons/icon.png" alt="logo">
                <!-- <div class="hover-text">Click here to back to the top</div> -->
            </a>
        </div>
        <!-- Contact Info -->
        <ul class="cs-contact">
            <li class="cs-nav-li">
                <span class="cs-header">Contact information</span>
            </li>
            <li class="cs-contact-li">
                <p class="cs-contact-link">03 8383 3158</p>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link">Shop 2 180 Toorak Road VIC</a>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link">South Yarra, Melbourne</a>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link">3141</a>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link">snowmonkeyramen@gmail.com</a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>